@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Online book Store<br />
    Mumbai<br />
    Maharashtra<br />
   
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">onlinebookstoresupport@onlinebook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">onlinebookstoremarketing@onlinebook.com</a>
</address>